Source: php-token-stream
Section: php
Priority: optional
Maintainer: Arthur Gautier (Open Web Solutions) <arthur@ows.fr>
Build-Depends: debhelper (>= 7.0.50~), cdbs
Standards-Version: 3.9.1
Homepage: https://github.com/sebastianbergmann/php-token-stream
Vcs-Git: git://github.com/sebastianbergmann/php-token-stream.git

Package: php-token-stream
Section: php
Architecture: all
Depends: php5-cli, ${misc:Depends}
Description: Wrapper library around PHP's tokenizer extension
 PHP Wrapper library around tokenizer extension 
